.form-tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para el elemento que muestra el "Total" */
.form-ticket > div {
  text-align: center;
  justify-content: center;
}

.column-width-id {
  width: 33%; /* Ancho deseado para la columna "ID" */
}

.column-width-total {
  width: 33%; /* Ancho deseado para la columna "Total" */
}

.table-details{
  width: 100%;
}

.button-link{
  text-decoration: none; /* Eliminar subrayado */
  color: white; /* Cambiar el color del texto, si lo deseas */
}

