.table-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.header-table {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  align-items: center;
}

.table-expandable {
  margin-top: 1rem;
}

.table-collapsed {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}
.table-collapsed.expanded {
  height: auto;
}


.table-row {
  width: 100%;
  padding: 1rem;
}

.form-tickets {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para el elemento que muestra el "Total" */
.form-ticket > div {
  text-align: center;
  justify-content: center;
}

.column-width-id {
  width: 20%; /* Ancho deseado para la columna "ID" */
}

.column-width-total {
  width: 20%; /* Ancho deseado para la columna "Total" */
}

.table-details{
  width: 100%;
}

.button-link{
  text-decoration: none; /* Eliminar subrayado */
  /* color: white;  */
}

.button-container {
  position: relative;
    top: -4px;
    left: 5px;
}

.button-form-ticket {
  margin-left: 1rem;
  margin-right: 1rem;
}

