.form-tickets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo para el elemento que muestra el "Total" */
.form-ticket > div {
  text-align: center;
  justify-content: center;
}
