:root {
  --bg-color: #ffffff; /* Valor predeterminado para tema claro */
  --text-color: #000000; /* Valor predeterminado para tema claro */
}

[data-theme='dark'] {
  --bg-color: #000000; /* Valor para tema oscuro */
  --text-color: #ffffff; /* Valor para tema oscuro */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
